<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <img src="http://myigniter.kotaxdev.com/assets/uploads/image/b9d76-avatar04.png" class="user-image"
                   alt="Administrator">
              <span class="hidden-xs">admin</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header bg-light">
                <img src="http://myigniter.kotaxdev.com/assets/uploads/image/b9d76-avatar04.png" class="img-circle"
                     alt="Administrator">
                <p>
                  Administrator
                  <small>Last login 11/01/2018 16:43</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <button (click)="goToProfile()" class="btn btn-default btn-flat">Profile</button>
                </div>
                <div class="pull-right">
                  <button (click)="logout()" class="btn btn-default btn-flat">Logout</button>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/admin/dashboard/shoes">Chaussures <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Export</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
