img{
    max-width: 500px;
    max-height: 500px;
}

img.small-shoe{
    max-width: 50px;
    max-height: 50px;
}

img.small-shoe:hover{
    cursor:pointer;
}

img.small-shoe.selected{
    border: 1px black solid;
}

.default-color{
    text-decoration: underline;
}

ul{
    list-style-type: none;
}