.page-preloader {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg)
}

.page-preloader-cover {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff
}

.page-preloader__cube {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.page-preloader__cube::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-animation: tmFoldCubeAngle 2.4s infinite linear both;
  animation: tmFoldCubeAngle 2.4s infinite linear both;
  background-color: #333
}

.page-preloader--cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg)
}

.page-preloader--cube2::before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}

.page-preloader--cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg)
}

.page-preloader--cube3::before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s
}

.page-preloader--cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg)
}

.page-preloader--cube4::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s
}

@-webkit-keyframes tmFoldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0
  }
}

@keyframes tmFoldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0
  }
}


app-root:empty, app-root.loading {
  opacity: 1;
  z-index: 100;

}

app-root.loading:h1 {
  font-family: "courier", monospace;
  color: #EEE;
  margin-bottom: 50px;
}

.panel-heading {
  border-bottom: 1px solid #C8C8C8;
}

.card-block {
  padding: 10px;
}
